<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuntian.mapper.WorkRecordMapper">
    <insert id="addRecord" parameterType="com.yuntian.component.pojo.WorkRecord">
        insert into work_record(id,work_name,details,status,user_id,rework_count,createdate,updatedate,createop,updateop)
            value(#{id},#{workName},#{details},#{status},#{userId},#{reworkCount},#{createDate},#{updateDate},#{createOp},#{updateOp})
    </insert>
    <select id="getRecordList" resultType="com.yuntian.component.pojo.WorkRecord">
        select * from work_record
    </select>
</mapper>
